# Series

In [1]:
import numpy as np
import pandas as pd
tempArr = np.arange(0, 6)
tempSeries = pd.Series(tempArr)
print(tempSeries)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

### `head`

In [2]:
tempIndices = list('abcedf')
tempSeries = pd.Series(tempArr, index=tempIndices)
tempSeries.head(3)

a    0
b    1
c    2
dtype: int64

### `tail`

In [3]:
tempSeries.tail()

b    1
c    2
e    3
d    4
f    5
dtype: int64

### Change `index`

In [4]:
tempSeries.index = list('fedcba')
tempSeries

f    0
e    1
d    2
c    3
b    4
a    5
dtype: int64

# DataFrame

In [5]:
tempArrEven = np.arange(0, 10, 2)
tempArrOdd = np.arange(1, 11, 2)
tempDataFrame = pd.DataFrame(np.array([tempArrEven, tempArrOdd]).T)
tempDataFrame

   0  1
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

### Asign column names

In [6]:
tempDataFrame = pd.DataFrame(data=np.array([tempArrEven, tempArrOdd]).T, 
                             columns=['even_numbers', 'odd_numbers'], 
                             index=list('abcde'))
tempDataFrame

   even_numbers  odd_numbers
a             0            1
b             2            3
c             4            5
d             6            7
e             8            9